name: ecoinno
channels:
  - pytorch
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - cpuonly
  - pip
  - pip:
      - ultralytics
      - opencv-python
      - numpy
      - pandas
      - pillow
      - requests
      - tqdm
      - pydantic
      - pyyaml
      - matplotlib
      - openpyxl
